//--------------------------------------------------------
// vList
//--------------------------------------------------------
//
// {% Name: vList %}
// 
// {% Category: layout %}
// 
// {% Description: vList_docs.md %}
//
//--------------------------------------------------------

.vList > * + * {
    margin-top: 5px;
}

.vList_x2 > * + * {
    margin-top: 10px;
}

.vList_x3 > * + * {
    margin-top: 15px;
}

.vList_x4 > * + * {
    margin-top: 20px;
}

.vList_x5 > * + * {
    margin-top: 25px;
}