//--------------------------------------------------------
// Media
//--------------------------------------------------------
//
// {% Name: Media %}
// 
// {% Category: layout %}
// 
// {% Description: media_docs.md %}
//
//--------------------------------------------------------

.media {
    display: flex;
}

.media-figure {
    padding-right: 10px;
}

.media_reversed {
    flex-direction: row-reverse;
}

.media_reversed .media-figure {
    padding: 0;
    padding-left: 10px;
}

.media_center {
    align-content: center;
}