<div class="vList vList_x4">
    <div>
        {{> components/_nav }}
    </div>
    <div>
        <div class="vr vr_x2">
            <h1 class="hdg hdg_1">Form View</h1>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error at nemo voluptate velit id ipsam reiciendis asperiores quae fugiat assumenda beatae, aspernatur illum, rerum obcaecati. Odit quibusdam, quidem corporis beatae.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores error ipsam consectetur ratione quos a.</p>
    </div>
    <div>
        <form action="#">
            <ul class="vList vList_x4">
                <li>
                    <div class="vr">
                        <label for="input_1">First Name:</label>
                    </div>
                    <input type="text" id="input_1" class="input" />
                </li>
                <li>
                    <div class="vr">
                        <label for="input_2">Last Name:</label>
                    </div>
                    <input type="text" id="input_2" class="input" />
                </li>
                <li>
                    <div class="vr">
                        <label for="input_3">Age:</label>
                    </div>
                    <input type="text" id="input_3" class="input" />
                </li>
                <li>
                    {{> components/_button }}
                </li>
            </ul>
        </form>
    </div>
    <div>
        <div class="vr vr_x2">
            <h2 class="hdg hdg_3">Featured Content</h2>
        </div>
        <ul class="blocks blocks_2up">
            <li>
                {{> components/_media }}
            </li>
            <li>
                {{> components/_media }}
            </li>
        </ul>
    </div>
</div>