//--------------------------------------------------------
// Input
//--------------------------------------------------------
//
// {% Name: Input %}
// 
// {% Category: content %}
// 
// {% Description: input_docs.md %}
// 
//--------------------------------------------------------

.input {
    width: 100%;
    display: block;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #333333;
    font-size: 16px;
}