<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>E.M.O.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ pathToRoot }}assets/styles/app.css">
        <link rel="stylesheet" href="{{ pathToRoot }}assets/styles/styleguide.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.css">
    </head>
    <body>

        <div class="sg-page">

            <div class="sg-page-hd">
                {% include 'partials/landmarks/_nav.html' %}
            </div>

            <div class="sg-page-bd">
                <div class="sg-wrapper">
                    {% block content %}{% endblock %}
                </div>
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

    </body>
</html>