<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>E.M.O.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../assets/styles/app.css">
    </head>
    <body>

        <div class="header" role="banner">
    <img src="http://placehold.it/100x100" alt="" class="img img_round">
    <nav class="nav">
        <a href="#" class="nav-item">Home</a>
        <a href="#" class="nav-item">About</a>
        <a href="#" class="nav-item">Contact</a>
    </nav>
</div>

        
    <div class="hero">
        <div class="wrapper">
            <div class="media">
                <img src="http://placehold.it/200x200" alt="" class="media-figure">
                <div class="media-bd">
                    <div class="vr vr_x3">
                        <h1 class="hdg hdg_1">Lorem ipsum dolor sit amet, consectetur.</h1>
                    </div>
                    <p class="pa-txt pa-txt_loose">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorum doloremque ut architecto error possimus, aliquid tempora, autem nulla. Aspernatur atque earum voluptatibus magni expedita quod deserunt molestiae, a voluptas ratione. Commodi minus, at nulla iure omnis ducimus est nobis magni veniam possimus nostrum velit, voluptate voluptatum consequuntur, itaque dicta!</p>
                </div>
            </div>
        </div>
    </div>


        <div class="main" role="main">
            

    <div class="wrapper">
        <div class="grid grid_x5">
            <div class="grid-col grid-col_4of12">
                
<div class="card">
    <h2 class="card-hd">Lorem ipsum.</h2>
    <div class="card-bd">
        <p class="txt txt_sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum magnam autem fugiat aperiam omnis! Itaque animi dicta veniam dolore neque alias rem distinctio, laborum commodi.</p>
    </div>
    <div class="card-ft">
        <button class="btn btn_block btn_tertiary">read more</button>
    </div>
</div>

            </div>
            <div class="grid-col grid-col_4of12">
                
<div class="card">
    <h2 class="card-hd">Lorem ipsum.</h2>
    <div class="card-bd">
        <p class="txt txt_sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime hic sapiente perferendis ipsam expedita, voluptas suscipit dolor nostrum. Eaque, sed.</p>
    </div>
    <div class="card-ft">
        <button class="btn btn_block btn_tertiary">read more</button>
    </div>
</div>

            </div>
            <div class="grid-col grid-col_4of12">
                
<div class="card">
    <h2 class="card-hd">Lorem ipsum.</h2>
    <div class="card-bd">
        <p class="txt txt_sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quaerat officiis sunt temporibus dolore veniam cupiditate voluptas dolorum minima nemo tempore hic blanditiis illo delectus eligendi, commodi ratione ex inventore autem reprehenderit dolores optio doloremque. Distinctio incidunt id facilis laboriosam.</p>
    </div>
    <div class="card-ft">
        <button class="btn btn_block btn_tertiary">read more</button>
    </div>
</div>

            </div>
        </div>
    </div>


        </div>

        <div class="footer">
    <div class="wrapper">
        <div class="nav">
            <span class="nav-item">
                @ 2016 Something
            </span>
            <a href="#" class="nav-item">Home</a>
            <a href="#" class="nav-item">About</a>
            <a href="#" class="nav-item">Contact</a>
        </div>
    </div>
</div>

    </body>
</html>