<div class="media">
    <div class="media-figure">
        <img src="http://placehold.it/100x100" alt="" />
    </div>
    <div class="media-bd">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit enim quasi maiores quisquam, dolorem nisi dolor, sunt quod! Pariatur accusantium temporibus delectus, excepturi vitae ab. Vitae qui ipsum reiciendis, at!</p>
    </div>
</div>