//--------------------------------------------------------
// Nav
//--------------------------------------------------------
//
// {% Name: Nav %}
// 
// {% Category: landmarks %}
// 
// {% Description: nav_docs.md %}
//
//--------------------------------------------------------

.nav {
    display: flex;
}

.nav-item {
    flex: 1;
    padding: 10px;
    border-left: 1px solid darken(tomato, 10%);
    background: tomato;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.nav-item:first-child {
    border-left-color: tomato;
}

.nav_alt .nav-item {
    border-left: 1px solid darken(rebeccapurple, 10%);
    background: rebeccapurple;
}

.nav_alt .nav-item:first-child {
    border-left-color: rebeccapurple;
}