//--------------------------------------------------------
// Btn
//--------------------------------------------------------
//
// {% Name: Btn %}
// 
// {% Category: content %}
// 
// {% Description: btn_docs.md %}
// 
// {% Template: custom.html %}
// 
//--------------------------------------------------------

.btn {
    margin: 0;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    background: #333333;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
}

.btn_inverse {
    border: 1px solid #333333;
    background: #ffffff;
    color: #333333;
}