//--------------------------------------------------------
// uList
//--------------------------------------------------------
//
// {% Name: uList %}
// 
// {% Category: content %}
// 
// {% Description: uList_docs.md %}
//
//--------------------------------------------------------

.uList {
    margin-left: 20px;
}

.uList > * {
    list-style: disc;
}

.uList > * + * {
    margin-top: 5px;
}