<div class="sg-masthead">
    <div class="sg-masthead-hd">
        <h1 class="sg-hdg sg-hdg_4">
            <a href="{{ pathToRoot }}index.html">
                {{ title }}
            </a>
        </h1>
    </div>
    <nav class="sg-masthead-bd">
        <ul class="sg-nav">
            {% for category in categories %}
                <li>
                    <strong>{{ category | title }}</strong>
                    <ul class="sg-nav-menu">
                        {% for component in components %}
                            {% if component.category == category %}
                            <li>
                                <a href="{{ pathToRoot }}{{ component.category }}/{{ component.file }}">
                                    {{ component.name | title }}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>